
.slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1s;
}

.slide:first-child {
    opacity: 1;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(105, 150, 211, 0.65), rgba(67, 128, 211, 1);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    border-radius: 3px;
}
.prev-btn:hover , .next-btn:hover {
background-color: #4380D3;
}
.mer_button:hover{
background-color: #4380D3;
color: aliceblue;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

/* Services */
.Services{
    margin-top: 140px;
    text-align: center;
}
.Services h1{
    font-weight: bold;
    font-size: 40px;
    color: #4380D3; /* Изменение цвета текста */
}
.servicesCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    text-align: left;
    margin: 69px 62px 0 62px;
}

.cards{
    width: 427px;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 24px;
}
.cards div{
    text-align: center;
    width: 90%;
    margin: auto;
}
.cards img{
    width: 90%;
    border-radius: 24px;
    height: auto;
}
.cards a p:nth-child(2){
    margin: 5px 0 10px 0;
    font-weight: bold;
    font-size: 20px;
    color: #4380D3; /* Изменение цвета текста */
}
.cards a p:nth-child(3){
    margin: 5px 0 5px 0;
    font-size: 18px;
}


/* Партнеры */
.Partners{
    text-align: center;
}
.Partners h3{
    font-weight: bold;
    font-size: 40px;
    color: #4380D3;
    margin: 140px 0 69px 0;
}
.Partners div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 50px;
    margin-left: 189px ;
    margin-right: 189px ;
}
.Partners div img{
    width: 172px;
    height: auto;
    border-radius: 50%;
}


/* Чем может быть полезен Технопарк Байкал? */

.BenefitsTechnopark{
    margin-top: 140px;
}
.BenefitsTechnopark h3{
    margin-bottom: 67px;
    font-weight: bold;
    font-size: 40px;
    color: #4380D3;
    text-align: center;
}
.useFor {
    margin-left: 283px;
    margin-right: 283px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 130px;
    row-gap: 92px;
}
.useFor div{
    width: 224px;
    height: 271px;
    padding: 14px 18px 22px 18px;
    
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
}
.useFor div img{
    width: 81px;
    height: auto;
}
.useFor div p:nth-child(2){
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}
.useFor div p:nth-child(3){
    font-size: 11px;
}
.useFor div a{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    color: black;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 10px;
    align-self: center;
    margin-top: 38px;
}
.useFor div a:hover{
background-color: #4380D3;
color: aliceblue;
}

/* Мероприятия технопарка Байкал */
.Events h3{
    font-weight: bold;
    font-size: 40px;
    color: #4380D3;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 69px;
}

.Events div{
    margin-left: 62px;
    margin-right: 62px;
}
.Events div div{
    display: flex;
    flex-direction: row;
    margin: 0;
}
.Events div .img img{
    width: 648px;
    height: auto;
    border-radius: 21px;
    margin-right: 20px;
}
.Events div .img {
    margin-right: 20px;
}

.Events div .descriptionBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.Events div .descriptionBlock .description{
    font-weight: 500;
    font-size: 24px;
}
.Events div .descriptionBlock a{
    font-size: 20px;
    padding: 16px 45px;
    margin-bottom: 44px;
    border-radius: 7px;
    border: 1px solid #4380D3;
    font-weight: 500;
    font-size: 20px;
    color: black;
}

.Events div .descriptionBlock .date, 
.addEvents div .date{
   width: 185px; 
   height: 70px;
}
.Events div .descriptionBlock .date, 
.addEvents div .date{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    'Num Month'
    'Num Year';
}
.descriptionBlock .date p:nth-child(1), 
.addEvents div .date p:nth-child(1) {
    grid-area: Num;
    font-size: 64px;
    color: #4380D3;
}
.descriptionBlock .date p:nth-child(2), 
.addEvents div .date p:nth-child(2){
    grid-area: Month;
    font-size: 24px;
    padding-top: 8px;
    color: #4380D3;
}
.descriptionBlock .date p:nth-child(3), 
.addEvents div .date p:nth-child(3){
    grid-area: Year;
    font-size: 24px;
    padding-bottom: 10px;
    color: #4380D3;
}

/* Доп мероприятия */
.addEvents {
    display: flex;
    gap: 18px;
    margin-top: 90px;
}
.addEvents div{
    width: 427px;
    height: 328px;
    padding: 14px 14px 20px 14px;
    border-radius: 21px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("./event/event.jpg");
    /* Preserve aspect ratio */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.addEvents div p{
    font-weight: 500;
    font-size: 24px;
    color: aliceblue;
}
.addEvents div a{
    padding: 15px 45px;
    border: 1px solid #4380D3;
    border-radius: 7px;
    font-weight: 500;
    font-size: 20px;
    color: aliceblue;
}
.addEvents div .date{
    padding: 0 0 22px 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}
/* PhotoGallery */
.Gallery h3{
    font-weight: bold;
    font-size: 40px;
    color: #4380D3;
    text-align: center;
    margin: 155px 0 69px 0;
}
.Gallery .Photo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.Gallery .Photo img{
    width: 315px;
    height: auto;
    border-radius: 21px;
    /* border: 1px solid black; */
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 15px 2px;
    background-color: #b8d5ff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #4380D3;
  }
