main{
  padding: 50px;
}
.section2 {
    display: flex;
    flex-direction: column;
  }
  .flex_col {
    display: flex;
    flex-direction: column;
    gap: 32px 0px;
    margin: 14px auto 29px;
    width: 91.74%;
  }
  .flex_col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px 0px;
    width: 209px;
  }
  .flex_row {
    display: flex;
    align-items: center;
    gap: 0px 8px;
    width: 99.04%;
  }
  .highlight {
    min-width: 0px;
    font: 400 16px/1.18 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .highlight1 {
    min-width: 0px;
    font: 400 16px/1.18 "Inter", Helvetica, Arial, serif;
    color: rgb(116, 116, 116);
  }
  .hero_title {
    font: 500 48px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .flex_col2 {
    display: flex;
    flex-direction: column;
  }
  .content_box6 {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .big_title {
    position: absolute;
    top: 13px;
    width: 1292px;
    height: 44px;
    font: 500 36px/1.22 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .flex_row1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    margin: 120px auto 70px;
    width: 86%;
  }
  .content_box1 {
    display: flex;
    flex-direction: column;
    width: 335px;
    min-width: 0px;
    background-color: #8BBCFE;
    border-radius: 5px;
  }
  .flex_col3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0px;
    margin: 15px 21px 29px 22px;
  }
  .rect8 img{
    width: 100%;
    min-height: 365px;
    border-radius: 5px;
  }
  .content_box {
    display: flex;
    flex-direction: column;
    width: 98.97%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }
  .flex_col4 {
    display: flex;
    flex-direction: column;
    margin: 7px 0px 12px 7px;
    width: 134px;
  }
  .medium_title3 {
    font: 400 22px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .medium_title31 {
    margin: 1px 0px 0px;
    font: 400 24px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .highlight2 {
    margin: 11px 0px 0px;
    font: 400 16px/1.18 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .highlight3 {
    margin: 1px 0px 0px;
    font: 400 16px/1.18 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .flex_col5 {
    display: flex;
    flex-direction: column;
    margin: 7px 0px 12px 6px;
    width: 134px;
  }
  .content_box61 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 59px 0px 0px;

  }
  .flex_col6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px 0px;
    margin: 10px 20px 33px 23px;
  }
  .flex_col7 {
    display: flex;
    flex-direction: column;
    margin: 8px 0px 11px 7px;
    width: 134px;
  }
  .flex_col8 {
    display: flex;
    flex-direction: column;
    margin: 8px 0px 11px 6px;
    width: 134px;
  }
  .content_box62 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 60px 0px 0px;

  }
  .flex_col9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0px;
    margin: 5px 22px 39px 21px;
  }
  .flex_col10 {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 9px 7px;
    width: 134px;
  }
  .flex_col11 {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 9px 6px;
    width: 134px;
  }

/*ХЛЕБНЫЕ КРОШКИ

/* Стиль списка */
ul.breadcrumb {
    padding: 70px 55px 0px ;
    list-style: none;
  }
  
  /* Отображение элементов списка бок о бок */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Добавить символ косой черты (/) перед/за каждым элементом списка */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Добавить цвет для всех ссылок внутри списка */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Добавить цвет на наведении курсора мыши */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
