.section2 {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .cover {
    position: absolute;
    top: -83px;
    left: 50%;
    width: 1440px;
    height: 88px;
    object-fit: cover;
    transform: translate(-50%, 0);
  }
  .flex_col {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px 0px;
    width: 1209px;
    max-width: 85%;

  }
  .flex_col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px 0px;
    width: 376px;
    max-width: 85%;
  }
  .flex_row {
    display: flex;
    align-items: center;
    gap: 0px 8px;
    width: 99.47%;
  }
  .highlight {
    min-width: 0px;
    font: 400 16px/1.18 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .highlight1 {
    min-width: 0px;
    font: 400 16px/1.18 "Inter", Helvetica, Arial, serif;
    color: rgb(116, 116, 116);
  }
  .hero_title {
    padding-left: 70px;
    font: 500 48px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);

  }
  .flex_col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px 0px;
    margin: 0px 0px 0px auto;
    width: 90.65%;
  }
  .flex_row1 {
    display: flex;
    align-items: center;
    gap: 0px 20px;
    width: 100%;
  
  }
  .content_box1 {
    display: flex;
    flex-direction: column;
      width: 650px;
      min-width: 400px;
    background-color: rgba(105, 150, 211, 0.647);
    color: aliceblue;
  }
  textarea{
    color: aliceblue;
  }

  .subtitle2 {
    margin: 22px 0px 189px 14px;
    width: 55px;
    max-width: 85%;
    font: 400 20px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    
  }
  .flex_col3 {
    display: flex;
    flex-direction: column;
    width: 426px;
    min-width: 0px;
    
  }
  .content_box2 {
    display: flex;
    flex-direction: column;
    background-color: rgba(105, 150, 211, 0.647);
  }
  .subtitle21 {
    margin: 15px 0px 11px 30px;
    width: 97px;
    max-width: 85%;
    font: 400 20px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    
  }
  .content_box21 {
    display: flex;
    flex-direction: column;
    margin: 40px 0px 0px;
    background-color: rgba(105, 150, 211, 0.647);
  }
  .subtitle22 {
    margin: 15px 0px 11px 30px;
    width: 145px;
    max-width: 85%;
    font: 400 20px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
   
  }
  .content_box22 {
    display: flex;
    flex-direction: column;
    margin: 41px 0px 0px;
    background-color: rgba(105, 150, 211, 0.647);
  }
  .subtitle23 {
    margin: 15px 0px 11px 30px;
    width: 106px;
    max-width: 85%;
    font: 400 20px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    
  }
  .flex_col4 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .flex_row2 {
    display: flex;
    align-items: center;
    gap: 0px 11px;
  }
  .image1 {
    width: 27px;
    min-width: 0px;
    height: 30px;
    object-fit: cover;
  }
  .subtitle {
    min-width: 0px;
    font: 400 20px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  
  }
  .content_box5 {
    display: flex;
    flex-direction: column;
    margin: 39px 0px 0px;
    width: 223px;
    max-width: 85%;
    background-color: rgba(105, 150, 211, 0.647);
  }
  .content_box5:hover{
    background-color: #01447e;
  }
  .subtitle24 {
    margin: 14px auto 13px;
    font: 400 20px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);

  }
  .subtitle1_box {
    margin: 28px 0px 0px;

  }
  .subtitle1 {
    font: 400 20px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(130, 130, 130);

  }
  .subtitle1_span0 {
    font: 1em/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(129, 129, 129);
  }
  .subtitle1_span1 {
    font: 1em/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(129, 129, 129);
    text-decoration: underline;
  }


/*ХЛЕБНЫЕ КРОШКИ

/* Стиль списка */
ul.breadcrumb {
    padding: 110px 70px 16px;
    list-style: none;
  }
  
  /* Отображение элементов списка бок о бок */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Добавить символ косой черты (/) перед/за каждым элементом списка */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Добавить цвет для всех ссылок внутри списка */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Добавить цвет на наведении курсора мыши */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }