.section2 {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .flex_row {
    position: relative;
    display: flex;
    gap: 0px 15px;
    margin: 37px auto 167px;
    width: 92.08%;
  }
  .flex_col {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px 0px;
    margin: 0px 0px 8px;
    width: 658px;
    min-width: 0px;
  }
  .flex_col1 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 14px 0px;
    width: 99.24%;
  }
  .hero_title {
    position: relative;
    font: 500 48px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .medium_title3 {
    position: relative;
    font: 700 24px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    letter-spacing: -0.1px;
  }
  .flex_col2 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 38px 0px;
    width: 100%;
  }
  .flex_col3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px 0px;
  }
  .medium_title4 {
    position: relative;
    width: 99.7%;
    font: 400 24px/1.37 "Open Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .flex_row1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    width: 97.42%;
  }
  .flex_col4 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 3px 0px;
    width: 58px;
    min-width: 0px;
  }
  .image3 {
    position: relative;
    margin: 0px 0px 0px 2px;
    width: 56px;
    height: 56px;
  }
  .image31 {
    position: relative;
    margin: 71px 1px 0px;
    width: 56px;
    height: 56px;
  }
  .image32 {
    position: relative;
    margin: 49px 2px 0px 0px;
    width: 56px;
    height: 56px;
  }
  .image4 {
    position: relative;
    margin: 31px 2px 0px 0px;
    width: 56px;
    height: 63px;
  }
  .flex_col5 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 57px 0px;
    width: 546px;
    min-width: 0px;
  }
  .flex_col6 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px 0px;
    width: 100%;
  }
  .flex_col7 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 60px 0px;
  }
  .medium_title41 {
    position: relative;
    font: 400 24px/1.37 "Open Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .medium_title42_box {
    position: relative;
  }
  .medium_title42 {
    font: 400 24px/1.37 "Open Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .medium_title42_span0 {
    font: 1em/1.37 "Open Sans", Helvetica, Arial, serif;
  }
  .medium_title42_span1 {
    font: 1em/1.37 "Open Sans", Helvetica, Arial, serif;
    text-decoration: underline;
  }
  .medium_title43 {
    position: relative;
    width: 98.9%;
    font: 400 24px/1.37 "Open Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
  }
  .medium_title5 {
    position: relative;
    font: 400 24px/1.2 "Inter", Helvetica, Arial, serif;
    color: rgba(105, 150, 211, 0.647);
  }
  a .medium_title5:hover{
    color: #01447e;
  }
iframe {
    position: relative;
    margin: 122px 0px 0px;
    width: 650px;
    min-width: 0px;
    border-radius: 10px 10px 10px 10px;
  }

/*ХЛЕБНЫЕ КРОШКИ

/* Стиль списка */
ul.breadcrumb {
  padding: 110px 70px 0px ;
  list-style: none;
}

/* Отображение элементов списка бок о бок */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Добавить символ косой черты (/) перед/за каждым элементом списка */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Добавить цвет для всех ссылок внутри списка */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Добавить цвет на наведении курсора мыши */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
